<ion-header>
    <ion-toolbar>
        <ion-title>Network List Test Page</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/folder/Home" icon="arrow-back-circle-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="centered" style="display: flex; flex-direction: column; align-items: center">
        <ion-item-divider></ion-item-divider>
        <p>Currently Connected Network:</p>
        <b>
      <u>
        <span style="color: blueviolet; font-size: large"
          >{{currentNetwork}}</span></u></b>
        <ion-item-divider></ion-item-divider>

        <p (click)="toggleSaved()">Saved Networks - <b>  <span *ngIf="!showSaved;else Hide"> Show  </span> <ng-template #Hide> Hide </ng-template> </b>
        </p>
        <ion-list *ngIf="showSaved">
            <ion-item *ngFor="let n of savedNetworks"> {{n}} </ion-item>
        </ion-list>
        <ion-item-divider></ion-item-divider>

        <p (click)="scanNetworks()">Availabe Networks - <b>  <span *ngIf="!showAvailable;else Hide"> Show  </span> <ng-template #Hide> Hide </ng-template> </b>
            <ion-spinner *ngIf="scanning"></ion-spinner>
        </p>
        <ion-list *ngIf="showAvailable">
            <ion-item *ngFor="let n of availableNetworks"> {{n.SSID}} | {{n.frequency}} </ion-item>
        </ion-list>
        <ion-item-divider></ion-item-divider>

    </div>
</ion-content>